:root {
  /* Font families */
  --ff-base: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  --ff-secondary: "Fascinate Inline", system-ui;

  // Font sizing
  --fs-2xs: 0.7rem;
  --fs-xs: 0.8rem;
  --fs-small: 1rem;
  --fs-medium: 1.2rem;
  --fs-large: 1.4rem;
  --fs-extra-large: 1.7rem;
  --fs-2xl: 2rem;
  --fs-3xl: 2.5rem;

  // Margin and Padding space
  --space-3xs: 0.25rem;
  --space-2xs: 0.5rem;
  --space-xs: 0.75rem;
  --space-s: 1rem;
  --space-m: 1.5rem;
  --space-l: 2rem;
  --space-xl: 3rem;
  --space-2xl: 4rem;
  --space-3xl: 6rem;

  // Font weights

  // Colors
}
